/* background-image: url(./bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --text-color:white;
  background-color: #020024;
 background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  --stroke-color: rgb(228, 231, 235);
  --surface-color:  rgba(28, 28, 104, 0.918);
  --surface-color-hover: rgb(10, 72, 241);
  --highligh-color: rgb(10, 72, 241);
  --switch-bg-url: url(./lua.svg)
}


.light{
  --text-color:rgb(0, 0, 0);
background: #ebeb05;
background: linear-gradient(90deg, rgba(235, 235, 5, 1) 0%, rgba(221, 224, 18, 1) 3%, rgba(220, 197, 17, 1) 45%, rgba(219, 194, 2, 1) 100%);
  --stroke-color: rgba(238, 238, 245, 0.856);
  --surface-color:  rgb(240, 159, 9);
  --surface-color-hover: rgba(219, 221, 92, 0.918);
  --highligh-color: rgb(228, 114, 8); 
  --switch-bg-url: url(./sol.svg)
}

body {
  /*background: collor image repeat position/size */
  background: var(--bg-url) no-repeat top center/cover;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px 0 ;
  margin-top: 64px;
  align-items: center;
}

#profile img {
  width: 100px;
  margin-top: 32px;
  align-items: center;
}
#profile p {
  font-weight: 500;
  line-height: 25%;
  margin-top: 25px;
}
#profile li a {
  font-weight: 500;
  line-height: 25px;
  margin-top: 25px;
}

/* switch */

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
  margin-top: 1%;

}

#switch button{
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back .3s;
}

.light #switch button {
  animation: slide-in .3s forwards;

}

#switch button:hover{
  outline: 8px solid var(--highligh-color);
}
#switch span{
  display:block;
  width: 64px;
  height:24px;
  background:var(--surface-color);
  border: 1px solid var(var(--stroke-color));
  backdrop-filter: blur(4px);
  -webkit-background-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
    list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
}
ul li a {
  display: flex;
  width: 275px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  
  background: var(--surface-color);
  border: solid var(--stroke-color);  
  border-radius: 8px;
  
  backdrop-filter: blur (4px);
  -webkit-backdrop-filter: blur(4px);
  
  text-decoration: none;
  font-weight: bold;
  transition: backgroud 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*social-links */
#social-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 24 24px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

#social-links a:hover {
  background-color: var(--highligh-color);
  border-radius: 50%;
}

/* animatio */
@keyframes slide-in {
  from {
    left:0;
  }
  
  to{
  left:50%;
  }
}

@keyframes slide-back {

from {
    left:50%;
  }
  
  to{
  left:0;
  }
  
}
